*{
    padding: 0%;
    margin: 0%;
    
}
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
     'Open Sans', 'Helvetica Neue', sans-serif;
}
section{
    margin-top: 40px;
}
#navbar{
    background-color: white;
    width: 100%;
    border-radius: ;
}
#navbar li{
   color: gray;
   border-top: ;
   list-style: none;

}
#navbar a{
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
 
 }
 header img {
width: 50px;
border-radius: 50px;
 }
 .icons{
    position: relative;
    top: 50%;
    margin: 10px;
 }
 .start-cards {
    display: flex;
    gap: 20px;
    margin: 20px 0;

}
.start-cards i,div {
    flex: 1;
    padding: 20px ;
    color: #fff;
    text-align: center;

}
.card.red { background-color: #e74c3c; }
.card.blue { background-color: #3498db; }
.card.green { background-color: #2ecc71; }
.card.orange { background-color: #f39c12; }

header{
    color: black;
    margin: 10px;
    
    font-size: 1.8em;
    font-weight: 500;
}

.table{
 padding-left: 16px;
 box-sizing: inherit;
}
td{
    padding: 15px 12px;
}

tr{
    padding: 30px 30px ;
    display: inline;
    margin: 30px 35px;
   
}
.sec{
    display: flex;
    justify-content:space-between;
    padding: 10px;
    margin: 70px;
}
.sec img{
   width: 30%;
}
@media only screen and (min-width:815px){
    body{
        flex-direction: row;
    }
    #navbar{
        width: 300px;
        position: fixed;
        height: 100%;
        resize: horizontal;
        
    }
    #main{
        margin: 0 40px;
        margin-left: 370px;
        max-width: fit-content;
    
        
    }
}